.table_up_button {
    float: right;
    margin-bottom: 10px;
    z-index: 1;
  }
  .cardContent{ 
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  
  .ant-card-meta {
    margin:auto
  }
  .ant-card-cover {
    text-align: -webkit-center;
  }
  
  .userCard {
    display: flex;
      justify-content: space-between;
      flex-wrap: wrap;  
  }
  
  .ant-card ant-card-bordered ant-card-hoverable{
    margin-top: 1rem !important;
  }

 .ant-form-horizontal {
    margin-top: 10vh;
  }
  .dashboard-card {
    border-radius: 10px;
    cursor: pointer;

  }
  .ant-statistic-title{
    color:#fff
  }
  
  .dashboard-card:hover {
    box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
  transform: scale(1.05,1.05);
  }


  .card {
    border: 1px solid var(--color-three);
    margin-bottom: 20px;
    transition: border 0.1s, transform 0.3s;
}

.card:hover {
    border: 1px solid var(--color-two);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    cursor: pointer;
}

.card .card-body h2 {
    color: var(--color-two);
}

.card img:hover {
  opacity: 0.6;
}

.card-p {
    color: var(--color-three);
}

.card-p i {
    color: var(--color-two);
    margin-right: 8px;
}