.table_up_button {
    float: right;
    margin-bottom: 10px;
    z-index: 1;
  }
  .cardContent{ 
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  
  .ant-card-meta {
    margin:auto
  }
  .ant-card-cover {
    text-align: -webkit-center;
  }
  
  .userCard {
    display: flex;
      justify-content: space-between;
      flex-wrap: wrap;  
  }
  
  .ant-card ant-card-bordered ant-card-hoverable{
    margin-top: 1rem !important;
  }