.table_up_button {
    float: right;
    margin-bottom: 10px;
    z-index: 1;
  }


  .ant-card-cover {
    text-align: -webkit-center;
  }
  
  .userCard {
    display: flex;
      justify-content: space-between;
      flex-wrap: wrap;  
  }
  
  .ant-card ant-card-bordered ant-card-hoverable{
    margin-top: 1rem !important;
  }

 .ant-form-horizontal {
    margin-top: 10vh;
  }
  .dashboard-card {
    border-radius: 10px;
    cursor: pointer;

  }
  .ant-statistic-title{
    color:#fff
  }

  Input{
    border-radius: 5px !important;
  }

  Textarea{
    border-radius: 5px !important;

  }
  
  .dashboard-card:hover {
    box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
  transform: scale(1.05,1.05);
  }

  Button {
    border-radius: 10px !important
  }

  .card {
    border: 1px solid var(--color-three);
    margin-bottom: 20px;
    transition: border 0.1s, transform 0.3s;
}

.card:hover {
    border: 1px solid var(--color-two);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    cursor: pointer;
}

.card .card-body h2 {
    color: var(--color-two);
}

.card img:hover {
  opacity: 0.6;
}

.card-p {
    color: var(--color-three);
}

.card-p i {
    color: var(--color-two);
    margin-right: 8px;
}
.antd-pro-header-search-input {
  width: 700px;
}
.dashboard-category-card:hover {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.login-page {
	background-color: white;
	background-color: #21D4FD;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  	height: 100vh;
}
.login-form{
  min-width: 250px;
  max-width: 400px;
  border-radius: 24px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-button {
  background-color:  #E0E0E0;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
	width: 100%;
	color: white;
  	border: none;
	margin-top: 10px;
  	cursor: pointer;
  	font-size: 1.3rem;
	font-weight: bold;
	border-radius: 24px;
	transition: 0.25s;
}

.login-button:hover {
	opacity: 0.8;
}